div {
    color: red;
}

div::before {
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 1px solid red;
    border-radius: 50%;
    background: purple;
    content: "";
}

div::after {
    content: " em CSS Pro";
}