:root {
    --cor-qualquer: #ff9900;
    --colorido: linear-gradient(red, var(var(--cor-qualquer)));
}

html, body {
    height: 100%;
}

body {
    /*se aplicarmos o bg direto no body ocorre uma segmentação/repetição - efeito colateral */
    background: linear-gradient(160deg,#85FFBD 0%, #FFFB7D 100%);
}

div {
    width: 400px;
    height: 400px;
    border: 1px solid red;
    border-radius: 50%;
    /*background: linear-gradient(red, violet, #0066cc, var(--cor-qualquer)); */

    background: linear-gradient(45deg, red, yellow);
}