body {
    margin: 0;
    font-family: Arial;
}

.conteudo {
    border: 1px solid orange;
    width: 300px;
    height: 800px;
    margin: 0 auto;
}

footer {
    background: #0696cc;
    position: fixed;
    bottom: 0;
    padding: 10px;

    text-align: center;

    width: 100%;
    color: white
    
}